flows.json
[{"id":"74d3352.3a122cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c140b7b3.5e2108","type":"debug","z":"74d3352.3a122cc","name":"Displays all the 3 parameters","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"a00af3dd.021c3","type":"http request","z":"74d3352.3a122cc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":340,"wires":[["4c5c1254.bc6b9c","580881a4.b4c6d"]]},{"id":"c652b14e.6b38a","type":"function","z":"74d3352.3a122cc","name":"Pre-tocken","func":"global.set(\"temp\",msg.payload.temp)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"0j0XV6mXvvlyiChB8bdqg3pgitgIckLTC83YJHuQphT7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":300,"wires":[["a00af3dd.021c3"]]},{"id":"4c5c1254.bc6b9c","type":"function","z":"74d3352.3a122cc","name":"Pre-Prediction","func":"var temp = global.get(\"temp\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temp,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["69ec78d1.14a1a8"]]},{"id":"580881a4.b4c6d","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":420,"wires":[]},{"id":"59dbbe9b.c472e","type":"function","z":"74d3352.3a122cc","name":"","func":"var temp =global.get(\"temp\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n Rainfall: {\n temperature: temp,\n humidity: humidity,\n wind: wind,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":220,"wires":[["dc523a37.7a8428","22c4d15d.07540e"]]},{"id":"69ec78d1.14a1a8","type":"http request","z":"74d3352.3a122cc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8ccf3321-f043-4a45-a8e7-cc7156abd264/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":380,"wires":[["59dbbe9b.c472e","e53de3aa.2f3de"]]},{"id":"e53de3aa.2f3de","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":460,"wires":[]},{"id":"22c4d15d.07540e","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"dc523a37.7a8428","type":"ui_text","z":"74d3352.3a122cc","group":"691b9297.b17ecc","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":180,"wires":[]},{"id":"1373b1dc.b6d7de","type":"inject","z":"74d3352.3a122cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["c652b14e.6b38a"]]},{"id":"84c34a98.408a88","type":"ui_gauge","z":"74d3352.3a122cc","name":"","group":"691b9297.b17ecc","order":1,"width":"6","height":"6","gtype":"gage","title":"humidity","label":"grams/Cubic-meter","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":100,"wires":[]},{"id":"22f46bff.c57bd4","type":"ui_gauge","z":"74d3352.3a122cc","name":"","group":"691b9297.b17ecc","order":3,"width":"6","height":"6","gtype":"gage","title":"wind","label":"m/sec","format":"{{msg.payload.wind}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":180,"wires":[]},{"id":"9d16ffcd.a6a5f","type":"ui_gauge","z":"74d3352.3a122cc","name":"Temperature","group":"691b9297.b17ecc","order":4,"width":"6","height":"6","gtype":"gage","title":"temp","label":"Degree","format":"{{msg.payload}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"8bb50474.079e48","type":"ibmiot in","z":"74d3352.3a122cc","authentication":"apiKey","apiKey":"97d47bf3.6e0588","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"DHT","applicationId":"","deviceType":"123456","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["84c34a98.408a88","22f46bff.c57bd4","c140b7b3.5e2108","f6a401d5.962da"]]},{"id":"811baf6d.d4201","type":"ui_chart","z":"74d3352.3a122cc","name":"Temperature Chart","group":"361945a2.9f390a","order":1,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":20,"wires":[[]]},{"id":"f6a401d5.962da","type":"function","z":"74d3352.3a122cc","name":"","func":"msg.payload=msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[["9d16ffcd.a6a5f","811baf6d.d4201"]]},{"id":"691b9297.b17ecc","type":"ui_group","z":"","name":"IoT Sensor","tab":"8f1b70e4.1ab21","order":3,"disp":true,"width":"17","collapse":false},{"id":"97d47bf3.6e0588","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ekxbx0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"361945a2.9f390a","type":"ui_group","z":"","name":"Temperature Chart","tab":"4665e203.b4ce8c","order":1,"disp":true,"width":13,"collapse":false},{"id":"8f1b70e4.1ab21","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","disabled":false,"hidden":false},{"id":"4665e203.b4ce8c","type":"ui_tab","z":"","name":"Temperature Chart","icon":"dashboard","disabled":false,"hidden":false}]